@model IndexVM
@{
    ViewBag.Title = "Index";
}

<h2>İlçe</h2>
<h3 style="color:red">@TempData["veriYok"]      </h3>

<h3 style="color:red">@TempData["eksikBilgi"]</h3>

@using (Html.BeginForm("AddCity", "City", FormMethod.Post))
{
    <div>
        Sehir seciniz:  @Html.DropDownListFor(x => x.City.StateID, new SelectList(Model.States, "ID", "Name"), "Lutfen şehir seciniz",new { @class="form-control"})
    </div>
    <div>
        İlçe ismi : @Html.TextBoxFor(x => x.City.Name,new { @class="form-control"})
    </div>
    <div>
        <button class="btn btn-primary">Ekle</button>
    </div>
}



<div>
    <ul>
        @foreach (City item in Model.Cities)
        {
            <li>@item.State.Name  -    @item.Name</li>
        }
    </ul>
</div>

